<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= user ? 'Edit User' : 'Add User' %></title>
</head>
<body>
    <h1><%= user ? 'Edit User' : 'Add User' %></h1>
    <form action="<%= user ? '/users/' + user.user_id + '?_method=PUT' : '/users' %>" method="POST">
        <label>First Name: <input type="text" name="first_name" value="<%= user ? user.first_name : '' %>" required></label><br>
        <label>Last Name: <input type="text" name="last_name" value="<%= user ? user.last_name : '' %>" required></label><br>
        <label>Mission Call: <input type="text" name="mission_call" value="<%= user ? user.mission_call : '' %>"></label><br>
        <label>Home Address: <input type="text" name="home_address" value="<%= user ? user.home_address : '' %>"></label><br>
        <label>Home City: <input type="text" name="home_city" value="<%= user ? user.home_city : '' %>"></label><br>
        <label>Home State: <input type="text" name="home_state" value="<%= user ? user.home_state : '' %>"></label><br>
        <label>Home Country: <input type="text" name="home_country" value="<%= user ? user.home_country : '' %>"></label><br>
        <label>Home Zip: <input type="text" name="home_zip" value="<%= user ? user.home_zip : '' %>"></label><br>
        <button type="submit"><%= user ? 'Update' : 'Add' %> User</button>
    </form>
</body>
</html>
